<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="root">
        <div v-if="show">hello world</div>
        <button @click="handleClick">toggle</button>
        <ul>
            <li v-for="(item ,index) of list" :key="index">{{item}}</li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el: "#root", //表示与页面上的哪一个dom元素绑定
        data: {
            show: true,
            list: [1, 2, 3]
        },
        methods: {
            handleClick: function() {
                this.show = !this.show;
            }
        }
    });
</script>

</html>